<div class="container pt-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <%= form_with(url: {controller: 'users', action: 'index' }, method: :get, local: true) do |f| %>
        <div class="input-group">
          <%= f.text_field :search, class: "form-control", placeholder: "ユーザー検索" %>
          <span class="input-group-btn">
            <%= f.submit '探す', class: 'form-control btn btn-secondary' %>
          </span>
        </div>
      <% end %>
      <%= render 'users', users: @users %>
    </div>
  </div>
</div>