<div class="text-center">
  <h1>サインアップページ</h1>
</div>
<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <%= render 'form', user: @user %>
  </div>
</div>

<p>アカウントをお持ちですか？ <%= link_to 'サインイン', login_path %></p>