<% if model.errors.any? %>
  <div id="error_explanation" class="alert alert-warning ml-2 mr-2 mt-2">
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>